.img-anchor{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    animation-name: gelatin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes gelatin {
    0%,
    100% {
      transform: scale(0.8);
    }
    25% {
      transform: scale(0.6) rotate(-1deg);
    }
    50% {
      transform: scale(0.8) rotate(2deg);
    }
    75% {
      transform: scale(0.6) rotate(-1deg);
    }
  }

.class-title{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    font-family: 'roboto';
}
.favorite-message{
    color: var(--redTextButton);
    width: 16.875rem;
    height: 10.375rem;
    border-radius: 0.938rem;
    background-color: var(--grey);
    overflow: scroll;
    padding: 1.25rem;
    list-style: none;
    font-family: 'roboto';
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-random{
    width: 16.875rem;
    height: 6rem;
    border-radius: 0.938rem;
    background-color: var(--grey);
    padding: 0.8rem;
    color: var(--redTextButton);
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto';
    overflow: scroll;
    display: flex;
    flex-direction: row-reverse;
}
.remove{
    width: 1.438rem;
    height: 1.438rem;
    padding-right: 0.625rem;
}
.press{
    margin: 1.875rem;
}
li{
    display: flex;
    padding-bottom: 0.625rem;
}
.favorite-star{
    width: 1.875rem;
    height: 1.875rem;
    padding-right: 0.625rem;
}
#message-container {
  width: 16.25rem;
  height: 11rem;
  position: fixed;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  font-family: roboto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey);
  color: var(--white);
  padding: 1.875rem;
  border: 0.313rem solid var(--redTextButton);
  border-radius: 1.875rem;
  z-index: 9;
  box-shadow: 0 0.688rem 0.25rem rgba(0, 0, 0, 0.25);
}

#message-container button {
  background-color: var(--red);
  color: white;
  border: 3px solid var(--redTextButton);
  font-size: 1.125rem;
  font-family: roboto;
  font-weight: bold;
  border-radius: 0.313rem;
  cursor: pointer;
  margin-top: 1.5rem;
  height: 3rem;
  width: 9.063rem;
}




