@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --grey: rgb(217, 217, 217);  
    --red: rgba(244, 11, 39, 0.65);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --redTextButton: rgb(242, 11, 39);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--red);
    width: 390px;
    height: 844px;
}
header{
    display: flex;
    justify-content: center;
}
.img-home{
    width: 253px;
    height: 220px;
    margin-top: 30px;
    margin-left: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    color: var(--white);
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.init-btn{
    width: 185px;
    height: 73px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--redTextButton);
    border: none;
    margin-top: 50px;
    box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prhase{
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-family: roboto;
    font-weight: bold;
    width: 180px;
    margin-top: 40px;
}






