@media screen and (min-width: 46.5rem) {
    body{
        width: 46.5rem;
    }
    .init-btn:hover {
      transform: rotate(360deg);
    }
    .img-anchor{
        width: 5.188rem;
        height: 4.938rem;
        margin: 0.625rem;    
    }
    .img-home{
        width: 23.625rem;
        height: 21.875rem;
        margin-top: 2.5rem;
        margin-bottom: 0.625rem;    
    }
    .description{
        font-size: 1.5rem;
        width: 33.875rem;
        height: 20.563rem;
    }
    .class-title{
        font-size: 1.5rem;
    }
    .random{
        margin-top: 1.875rem;
    }
    footer{
        width: 100%;
        margin-top: 1.875rem;
    }
    .prhase{
        width: 15.625rem;
        height: 2.688rem;
        font-size: 1rem;
        font-weight: 400;
    }
    .favorite-message{
        width: 34.5rem;
        height: 11.438rem;
        margin-left: 1.25rem;
    }
    .message-random{
        width: 34.5rem;
        height: 6.125rem;
        margin-left: 1.25rem;
    }
    .curious-facts{
        display: flex;
        justify-content: start;   
    }
    b{
        font-weight: bolder;
        font-size: 1.625rem;
    }
  }

  
