@media only screen and (min-width: 62rem) { 
    body{
        width: 75rem;
        height:50rem;
    }
    .img-home{
        display: none;
    }
    header{
        width: 75rem;
    }
    .img-desktop{
        display: flex;
        width: 53.75rem;
        height: 16.25rem;
        margin-left: 5.625rem;
        margin-top: 1.25rem;
        filter: drop-shadow(1.25em 0em 6.25em var(--white));
    }
   main{
        display: flex;
        justify-content: space-around;
        flex-direction: row;   
    }
    .description{
       width: 75rem; 
       font-size: 1.875rem;
       margin-left: 2.813rem; 
    }
    b{
        font-size: 2.125rem;
    }
    .init-btn{
        margin: 0;
    }
    .favorite-message{
        width: 33.75rem;
        height: 18rem;
        font-size: 1.25rem;
        box-shadow: 0 0.688rem 0.25rem rgba(0, 0, 0, 0.25);
    }
    .message-random{
        width: 32rem;
        height: 18.75rem;
        margin-bottom: 4.375rem;
        margin-left: 3.250rem;
        align-items: center;
        box-shadow: 0 0.688rem 0.25rem rgba(0, 0, 0, 0.25);
    }
    .favorites{
        margin-bottom: 4.375rem;
        margin-left: 3.75rem;
    }
    .section{
        margin-left: 1.25rem;
    }
    .class-title{
        margin-top: 0;
    }
    .init-btn{
        position: absolute;
        top: 42.5rem;
        right: 34.375rem;
    }
    footer{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;     
    }
    .prhase{
        font-size: 1rem;
        width: 25rem;
        margin: 6.825rem -4rem 0 0;   
    }
    .favorite-star{
        width: 3.438rem;
        height: 3.438rem;
        margin-bottom: 1.125rem;
    }
    .class-title{
        font-size: 1.75rem;
    }
}

